/* CSS declarations go here */

/*
body {
    font-family: sans-serif;
    background-color: #315481;
    background-image: linear-gradient(to bottom, #315481, #918e82 100%);
    background-attachment: fixed;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 0;
    margin: 0;

    font-size: 14px;
}*/

/*
.container {
    max-width: 600px;
    margin: 0 auto;
    min-height: 80%;
    max-height: 100%;
    background: white;
}
*/
/*
header {
    background: #d2edf4;
    background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
    padding: 20px 15px 15px 15px;
    position: relative;
}*/

/*
form {
    margin-top: 10px;
    margin-bottom: -10px;
    position: relative;
}*/
/*
* {
    margin: 0;
}*/
/*
p {
    padding: 0 0 1em;
}
h1, h2, h3, h4, h5, h6 {
    padding: 0 0 0.4em;
}*/

html,
body {
    margin:0;
    padding:0;
    height:100%;

    background-color: #315481;
    background-image: linear-gradient(to bottom, #315481, #918e82 100%);
    background-attachment: fixed;

}
#container {
    min-height:100%;
    max-width: 600px;
    margin: 0 auto;

    position:relative;
}
#header {
    background-color: #315481;
    background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);

    padding:10px;
}
#body {
    padding:10px;
    padding-bottom:60px;   /* Height of the footer */
    background-color: white;
}
#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background:#315481;
}


.scrollabletextbox {
    height:100px;
    width:400px;
    margin-left: 5px;
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 82%;
    overflow:scroll;
}
